/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
    * Brand
    */
    $basecolor      : #D81D23;
    $black 			: #111111;
    $darkergrey 	: #414552;
    $grey           : #807F79;
    $white 			: #F0EDE2;
    $gradient       : radial-gradient(149.72% 100% at 50% 0%, #31343F 0%, #31343F 17.71%, #1D2128 44.27%, #111111 77.08%);
    $purewhite      : #FFFFFF;


    // Web
    $background 	: $black;
    $textcolor 		: $white;
    $error          : $basecolor;


    // Links  //////////////////////
    $linkcolor 		    : $grey;
    // $linkcolorhover 	: ;
    